body {
    background-color: yellow;
    font-family: Garamond, Helvetica, Calibri;
    margin: auto;
    text-align: center;
}

h1 {
	font-size: 42px;
	text-align: center;
	
	
}

h2 {
	border-bottom: solid black;
	font-size: 32px;
	text-align: center;
	
}

p {
	font-size: 26px;
}